/*
    Позиционирование
    Блочная модель
    Типографика
    Оформление
    Анимация
    Разное
 */

*, *::before, *::after {
    box-sizing: inherit;
}

html {
   box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.popup-show {
  display: block;
}

.button { /* Проверить шрифты\цвет шрифта и прозрачность кнопок */
  display: inline-block;
  text-align: center;
  font: inherit;
  font-weight: bold;
  color: #ffffff;
  background-color: #f26843;
  background-image: linear-gradient(to top, #e74a35, #f26843); /* Проверить градиент для защиты */
  background-repeat: no-repeat;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}

.button:hover, /* Стили фотошопа в коментах - активные стили - из демки академии */
.button:focus {
  /* box-shadow: 0px 2px 2px 0 #ac1000;
  background-image:
  linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
  linear-gradient(to top, #e74a35, #f26843); */
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  /* box-shadow: inset 0px 2px 2px 0 #942718;
  background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
  linear-gradient(to bottom, #e74a35, #f26843); */
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/* ШАПКА */

.main-navigation {
  display: flex;
  flex-wrap: wrap;
}

.site-navigation,
.catalog-navigation,
.user-navigation {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.logo-main-header {
  width: 154px;
  height: 64px;
  margin-right: 9px;
  padding-top: 9px;
}

.site-navigation {
  width: 689px;
  margin-right: auto;
  padding-top: 23px;
}

.user-navigation {
  width: 267px;
  margin-left: auto;
  justify-content: flex-end;
  padding-top: 23px;
}

.main-navigation a {
  color: inherit;
}

.site-navigation-item > a {
  display: block;
  padding: 6px 13px 7px 14px;
  margin-right: 1px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  border-radius: 25px;
  background-color: transparent;
}

.site-navigation-item-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation-item > a:hover,
.site-navigation-item > a:focus {
  color: #323232;
  background-color: #f7f6f3;
}

.site-navigation-item > a:active {
  color: #323232;
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

a:hover .site-navigation-item-border,
a:focus .site-navigation-item-border,
a:active .site-navigation-item-border,
.current-site-navigation-link .site-navigation-item-border {
  border-bottom: none;
}

li .current-site-navigation-link,
li .current-site-navigation-link:hover,
li .current-site-navigation-link:focus,
li .current-catalog-navigation-link {
  color: inherit;
  background-color: #d07058;
}

li .current-site-navigation-link:active {
  color: #323232;
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

.site-navigation-item {
  position: relative;
}

.catalog-navigation {
  position: absolute;
  top: 37px;
  left: -6px;
  width: 143px;
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: none;
  z-index: 10;
}

.site-navigation-item:hover .catalog-navigation,
.site-navigation-item:focus-within .catalog-navigation {  /* Доделать на js для caniuse .popup-show */
  display: block;
}

.catalog-navigation::before {
  content: "";
  position: absolute;
  top: 38px;
  left: 6px;
  width: 128px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.catalog-navigation a {
  display: block;
  padding: 5px 0 7px 20px;
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.catalog-navigation-item:first-of-type a {
  margin-bottom: 10px;
}

.catalog-navigation .current-catalog-navigation-link {
  color: #ffffff;
}

.catalog-navigation-item:first-of-type a {
  font-weight: 700;
}

.catalog-navigation a:not(.current-catalog-navigation-link):hover,
.catalog-navigation a:not(.current-catalog-navigation-link):focus {
  background-color: #fbded7;
}

.catalog-navigation a:not(.current-catalog-navigation-link):active {
  background-color: #f6b5a5;
}

/* НАВИГАЦИЯ ПОЛЬЗОВАТЕЛЯ */

.user-navigation a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-navigation-search,
.user-navigation-login,
.user-navigation-cart {
  background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation-search:hover,
.user-navigation-login:hover,
.user-navigation-cart:not(.filled-cart):hover,
.user-navigation-search:focus-within,
.user-navigation-login:focus-within,
.user-navigation-cart:not(.filled-cart):focus-within,
.filled-cart {
  background-color: #f8f7f4;
}

.user-navigation-search:hover a,
.user-navigation-login:hover a,
.user-navigation-cart:hover > a,
.user-navigation-search:focus-within,
.user-navigation-login:focus-within,
.user-navigation-cart:not(.filled-cart):focus-within,
.filled-cart > a {
  color: #323232;
}

.user-navigation-login path {
  fill: #ffffff;
}

.user-navigation-search:hover path,
.user-navigation-cart:not(.filled-cart):hover path,
.user-navigation-cart:not(.filled-cart):hover circle,
.user-navigation-search:focus-within path,
.user-navigation-cart:not(.filled-cart):focus-within path,
.user-navigation-cart:not(.filled-cart):focus-within circle,
.user-navigation-login:hover path,
.user-navigation-login:focus-within path {
  fill: #323232;
}

.user-navigation-search {
  position: relative;
  text-align: left;
  width: 33px;
  height: 32px;
  margin-right: 10px;
  border-radius: 50%;
}

.user-navigation-search > a {
  display: block;
  padding: 7px 7px 31px 8px;
}

.user-navigation-login {
  position: relative;
  width: 92px;
  height: 32px;
  border-radius: 30px;
}

.user-navigation-login > a {
  display: block;
  padding: 7px 17px 15px 44px;
}

.user-navigation-cart {
  position: relative;
  width: 100px;
  height: 32px;
  margin-left: 10px;
  border-radius: 30px;
}

.user-navigation-cart > a {
  display: block;
  padding: 7px 17px 15px 44px;
}

.filled-cart {
  width: 117px;
  margin-left: 9px;
  margin-right: 1px;
}

.filled-cart > a {
  padding: 7px 15px 15px 44px;
}

.user-navigation svg {
  position: absolute;
}

.user-navigation-search:hover .hover-search,
.user-navigation-cart:hover .hover-filled-cart,
.user-navigation-login:hover .hover-login,
.user-navigation-search:focus-within .hover-search,
.user-navigation-cart:focus-within .hover-filled-cart,
.user-navigation-login:focus-within .hover-login {
  display: block;
}

/* ХОВЕР - ПОИСК */

.hover-search {
  position: absolute;
  right: 0;
  bottom: -88px;
  width: 341px;
  padding: 20px 15px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: none;
  z-index: 4;
}

.hover-search input {
  padding: 10px 0 10px 15px;
  width: 311px;
  font-size: 14px;
  line-height: 24px;
  color: #323232;
  font-weight: 700;
  box-shadow: 0 0 0 2px rgba(178, 178, 178, 0.52);
  border: none;
  border-radius: 5px;
}

.hover-search input::placeholder {
  color: #999999;
  font-weight: 400;
}

.hover-search input:hover {
  box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.hover-search input:focus {
  box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.hover-search input:invalid {
  box-shadow: 0 0 0 2px red;
}

/* ХОВЕР - ЛОГИН */

.hover-login p {
  margin: 0;
}

.hover-login-form .hover-login-input {
  margin-bottom: 20px;
}

.hover-login-form .hover-login-input:nth-child(2) {
  margin-bottom: 20px;
}

.hover-login {
  position: absolute;
  right: 0;
  bottom: -218px;
  width: 277px;
  height: 214px; /* Вопрос - про PxP - вот у ссылок под инпутами высота строки аж 24 при шрифте 13, по зеплину между ссылками по высоте отступ 8, при такой lh отступ будет 11, что мы и видим при отрисовке браузером, если уменьшу lh - смогу сделать как по макету, иначе мне что остается, через pos-r двигать 2ю ссылку ближе к 1й? Вот как в таком случае решать по PxP конкретно тут и в будущем */
  padding: 20px 17px 22px 19px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: none;
  z-index: 4;
}

.user-navigation-login svg {
  top: 6px;
  left: 16px;
}

.hover-login input {
  padding: 10px 0 10px 15px;
  width: 241px;
  font-size: 14px;
  line-height: 24px;
  color: #323232;
  font-weight: 700;
  box-shadow: 0 0 0 2px rgba(178, 178, 178, 0.52);
  border: none;
  border-radius: 5px;
}

.hover-login input::placeholder {
  color: #999999;
  font-weight: 400;
}

.hover-login input:hover {
  box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.hover-login input:focus {
  box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.hover-login input:invalid {
  box-shadow: 0 0 0 2px red;
}

.hover-login-links a {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.hover-login-links a:hover,
.hover-login-links a:focus,
.hover-login-links a:active {
  color: #e84d37;
  border-bottom-color: rgba(232, 77, 55, 0.3)
}

.hover-login-button {
  float: left;
  padding: 11px 25px 9px;
  margin-right: 20px;
  box-shadow: 0px 1px 2px 0 #ac1000;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  border-radius: 20px;
}

/* ХОВЕР - КОРЗИНА */

.hover-filled-cart {
  position: absolute;
  right: 0;
  bottom: -245px;
  padding: 20px 15px;
  width: 540px;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  color: #323232;
  background-color: #f8f7f4;
  box-sizing: border-box;
  display: none;
  z-index: 4;
}

.user-navigation-cart svg {
  top: 6px;
  left: 16px;
}

.hover-filled-cart-table {
  width: 510px;
  border-collapse: collapse;
}

.hover-filled-cart-table a {
  color: #323232;
}

.hover-filled-cart-table a,
.hover-filled-cart-table td {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  vertical-align: top;
}

.cart-delete {
  padding-top: 3px;
}

.cart-delete-button {
  width: 11px;
  height: 11px;
  background: url(../img/icons/cross-small.svg) no-repeat;
  border: 0;
  cursor: pointer;
}
.cart-item-name {
  padding-top: 8px;
  width: 220px;
}

.cart-item-image {
  padding: 0;
  padding-bottom: 16px;
  padding-left: 3px;
}

.cart-tbody-row:nth-child(2) .cart-item-image {
  padding-bottom: 22px;
}

.cart-price {
  padding: 8px 10px 0;
  text-align: center;
}

.cart-price-sum {
  padding-top: 8px;
}

.cart-price-per-weight {
  color: #999999;
}

.cart-item-name a:hover,
.cart-item-name a:focus,
.cart-item-name a:active {
  color: #e84d37;
}


.cart-tfoot tr {
  text-align: right;
  border-top: 1px solid #cacac7;
}

.cart-tfoot td {
  position: relative;
  right: -3px;
  padding-top: 14px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

 .hover-filled-cart .hover-filled-cart-button {
  position: relative;
  right: -2px;
  float: right;
  margin-top: 13px;
  color: #fefefe;
  padding: 9px 15px 11px;
  box-shadow: 0px 1px 2px 0 #ac1000;
  font-size: 18px;
  line-height: 24px;
  border-radius: 20px;
}

/* ХЕДЕР КОНТАКТЫ */

.header-contacts {
  width: 170px;
  margin-left: auto;
  margin-top: 8px;
  text-align: right;
}

.header-contacts-hours {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 4px;
}

.header-contacts-tel {
  position: relative;
  right: -1px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.header-contacts-tel:hover,
.header-contacts-tel:focus,
.header-contacts-tel:active {
 color: #ffbc9e;
}

/* ХЛЕБНЫЕ КРОШКИ */

.wrapper-h1-breadcrumbs {
  display: flex;
  flex-direction: column;
  margin-top: -23px;
}

.h1-cream {
  font-size: 35px;
  line-height: 41px;
  order: 1;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
  margin-left: -1px;
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 2px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 9px;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  color: inherit;
}

.breadcrumbs a:not(.breadcrumbs-current):hover,
.breadcrumbs a:not(.breadcrumbs-current):focus,
.breadcrumbs a:not(.breadcrumbs-current):active {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.2);
}

.breadcrumbs a:not(.breadcrumbs-current) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs li:not(:last-child)::after {
  content: " »";
  position: relative;
  left: 3px;
}


/* СЛАЙДЕР */

.wrapper-page-index {
  background-image: url("../img/slider/slider-icecream-1.png");
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 1s ease;
}

.slider {
  position: relative;
  padding-top: 275px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
}

.slider-item p {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 670px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider-lead-button {
  margin-bottom: 42px;
  padding: 9px 41px 10px;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.slider-controls {
  position: absolute;
  bottom: 62px;
  left: 0;
  font-size: 0;
  z-index: 9;
}

.slider-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .wrapper-page-index {
  background-color: #849d8f;
  background-image: url("../img/slider/slider-icecream-1.png");
}

#product-2:checked ~ .wrapper-page-index {
  background-color: #8996a6;
  background-image: url("../img/slider/slider-icecream-2.png");
}

#product-3:checked ~ .wrapper-page-index {
  background-color: #9d8b84;
  background-image: url("../img/slider/slider-icecream-3.png");
}

#product-1:checked ~ .wrapper-page-index #slide1,
#product-2:checked ~ .wrapper-page-index #slide2,
#product-3:checked ~ .wrapper-page-index #slide3 {
  display: block;
}

#product-1:checked ~ .wrapper-page-index label[for="product-1"],
#product-2:checked ~ .wrapper-page-index label[for="product-2"],
#product-3:checked ~ .wrapper-page-index label[for="product-3"] {
  background-color: #ffffff;
}

.wrapper-page-index::before,
.wrapper-page-index::after {
  content: "";
  visibility: hidden;
}

.wrapper-page-index::before {
  background-image: url("../img/slider/slider-icecream-2.png");
}

.wrapper-page-index::after {
  background-image: url("../img/slider/slider-icecream-3.png");
}

/* БЛОК СПЕЦ ПРЕДЛОЖЕНИЙ */

.special-offer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.special-offer-banner h3,
.special-offer-banner p {
  margin: 0;
}

.special-offer-banner {
  position: relative;
  width: 560px;
  padding: 15px 20px 24px;
  border-radius: 15px;
}

.banner-raspberry {
  display: flex;
  flex-direction: column;
  background: url(../img/bg-banner-raspberry.jpg) no-repeat;
  background-color: #aa0532;
}

.banner-chocolate {
  display: flex;
  flex-direction: column;
  background: url(../img/bg-banner-choco.jpg) no-repeat;
  background-color: #512f19;
}

.special-offer-lead {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.special-offer-banner p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin: 15px 0 45px;
}

.special-offer-button {
  align-self: flex-end;
  padding: 10px 23px 11px;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.99;
}

/* ФИЛЬТРЫ КАТАЛОГА */

.catalog-filter {
  width: 880px;
  margin-bottom: 41px;
}

.catalog-filter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.catalog-filter fieldset {
  margin: 0;
  margin-right: 15px;
  padding: 0;
  border: 0;
}

.catalog-filter legend {
  padding-left: 15px;
  margin-bottom: 7px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.field-wrapper {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

/* СОРТИРОВКА */

.field-sorting-options::-ms-expand {  /* Вопрос - правильно решена задача "убрать стрелку селекта" тут и чуть нижже appearance с префиксами */
  display: none;
  }

.field-sorting-options {
  -webkit-appearance: none;
	-moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  width: 193px; /* Вопрос - не уверен, что правильно задавать тут ширину и высоту */
  height: 36px;
  margin-bottom: 15px;
  padding-left: 11px;
  padding-bottom: 1px;
  text-align: left;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  border: none;
}

.field-sorting {
  position: relative;
}

.field-sorting .field-sorting-title {
  padding-left: 16px;
}

.field-sorting-options-arrow::before {
  content: '';
  position: absolute;
  top: 13px;
  left: 168px;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-top: 10px solid #ffffff;
  pointer-events: none;
}

.field-sorting-options option {
  padding: 0;
  color: #323232;
}

.field-sorting-options:hover + .field-sorting-options-arrow::before,
.field-sorting-options:focus + .field-sorting-options-arrow::before {
  border-top: 10px solid #323232;
}

.field-sorting-options:hover,
.field-sorting-options:focus {
  color: #323232;
  background-color: rgba(255, 255, 255, 1);
}

/* ВЫБОР ЦЕНЫ */

.range-controls {
  position: relative;
  width: 219px;
  height: 36px;
  padding-top: 16px;
  padding-left: 22px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.range-controls .scale {
  width: 176px;
  height: 4px;
  background-color: rgba(248, 247, 244, 0.5);
}

.range-controls .bar {
  position: absolute;
  left: 38px;
  width: 107px;
  height: 4px;
  background-color: #f8f7f4;
}

.range-controls .range-toggle {
  position: absolute;
  top: 8px;
  width: 20px;
  height: 20px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle-min {
  left: 34.5px;
}

.range-toggle-max {
  right: 66.5px;
}

/* ВЫБОР ЖИРНОСТИ */

.field-wrapper-fat {
  padding: 6px 2.5px 7px 14px;
}

label[for|="fat"] {
  position: relative;
  padding-left: 32px;
  margin-right: 14px;
  cursor: pointer;
}

.fat-radio {
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border: 4px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

label:hover .fat-radio,
input[type="radio"]:focus + .fat-radio {
  border: 4px solid rgba(255, 255, 255, 1);
}

input[type="radio"]:checked + .fat-radio::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

label:hover input[type="radio"]:checked:not(:disabled) + .fat-radio::after,
input[type="radio"]:focus + .fat-radio::after {
  background-color: rgba(255, 255, 255, 1);
}

input[type="radio"]:focus + .fat-radio {
  outline: thin dotted;
}


input[type="radio"]:disabled + .fat-radio{
  border: 4px solid rgba(255, 255, 255, 0.4);
}

input[type="radio"]:disabled + .fat-radio::after {
  background-color: rgba(255, 255, 255, 0.4);
}

/* ВЫБОР НАПОЛНИТЕЛЯ */

.field-wrapper-filler {
  padding: 6.5px 19.5px 6.5px 47px;
}

label[for|="filler"] {
  position: relative;
  margin-right: 51px;
  cursor: pointer;
}

label[for|="filler"]:first-of-type {
  margin-right: 49px;
}

label[for|="filler"]:last-of-type {
  margin-right: 0;
}

.filler-checkbox {
  position: absolute;
  top: 0;
  left: -31px;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 3px;
}

label[for="filler-sugar"] .filler-checkbox {
  left: -32px;
}

label[for="filler-fruits"] .filler-checkbox,
label[for="filler-jam"] .filler-checkbox {
  left: -34px;
}

label[for="filler-syrup"] .filler-checkbox {
  left: -31.5px;
}

label:hover .filler-checkbox,
input[type="checkbox"]:focus + .filler-checkbox {
  border: 2px solid rgba(255, 255, 255, 1);
}

input[type="checkbox"]:checked + .filler-checkbox {
  border: none;
}

input[type="checkbox"]:checked + .filler-checkbox::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 20px;
  background: url(../img/icons/checkbox-on.svg) no-repeat;
  opacity: 0.8;
}

label:hover input[type="checkbox"]:checked:not(:disabled) + .filler-checkbox::after,
input[type="checkbox"]:focus + .filler-checkbox::after {
  opacity: 1;
}

input[type="checkbox"]:focus + .filler-checkbox {
  outline: thin dotted;
}

input[type="checkbox"]:disabled:not(:checked) + .filler-checkbox {
  border: 2px solid rgba(255, 255, 255, 0.4);
}

input[type="checkbox"]:disabled + .filler-checkbox::after {
  opacity: 0.4;
}

.catalog-filter-button {
  position: relative;
  top: -1px;
  left: 0.5px;
  align-self: flex-end;
  padding: 6.5px 27px 7.5px 28px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0 2px #ffffff;
  border: 0;
  border-radius: 20px;
}

.catalog-filter-button:hover,
.catalog-filter-button:focus {
  color: #323232;
  background-color: #ffffff;
}

.catalog-filter-button:active { /* Вопрос - норм что кнопка теряя бордер при нажатии как бы уменьшается? в стайлгайде для базовой обводки кнопки хотят использовать бордер,но с ним как-то кривее получалось */
  color: #323232;
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
  border: 0;
}

/* КАТАЛОГ */

.catalog-cream {
  margin-bottom: 42px;
}

.catalog-list,
.catalog-list h3,
.catalog-list p {
  margin: 0;
}

.catalog-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 267px;
  margin-right: 26px;
  margin-bottom: 39px;
}

.catalog-popular .catalog-item {
  margin-bottom: 38px;
}


.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item-image-circle {
  margin-bottom: 7px;
}

.catalog-item-image-circle img{
  border-radius: 50%;
 }

 .hit .catalog-item-image-circle::before{
  content: '';
  position: absolute;
  width: 61px;
  height: 61px;
  background: url(../img/icons/hit.svg) no-repeat;
 }

 .catalog-item-name {
  width: 258px;
  align-self: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  order: 1;
}

.catalog-item-name a {
  color: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-item-name:hover a,
.catalog-item-name:focus a,
.catalog-item-name:active a {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.2);
}

.catalog-item-price {
  position: absolute;
  top: 209px;
  left: -2px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-weight {
  margin-left: 38px;
  font-size: 30px;
}

.catalog-item-weight::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 82px;
  width: 31px;
  height: 36px;
  background: url(../img/icons/ruble.svg) no-repeat;
}

.catalog-item-button {
  position: absolute;
  bottom: -55px;
  right: 33px;
  margin: 20px auto 0;
  padding: 10px 17px;
  box-shadow: 0px 1px 2px 0 #ac1000;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  display: none;
}

.catalog-item:hover {
  z-index: 5;
}

.catalog-item::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -13px;
  width: 293px;
  height: 405px;
  opacity: 0.2;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  display: none;
  z-index: -1;
}

.catalog-item:hover::before,
.catalog-item:focus::before {
  display: block;
}

.catalog-item:hover .catalog-item-button ,
.catalog-item:focus .catalog-item-button {
  display: inline-block;
}

/* БЛОК ПРЕИМУЩЕСТВ */

.advantages {
  padding: 25px 22px 25px 20px;
  border-radius: 15px;
  background-color: #f0e5d0;
  background-image: url(../img/bg-waffle-pattern.jpg);
  margin-bottom: 40px;
}

.advantages-lead,
.advantages-list {
  margin: 0;
  padding: 0;
}

.advantages-lead {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.advantages-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.advantages-list-item {
  width: 480px;
  padding-top: 21px;
}

.advantages-list-item:nth-child(odd){
  margin-left: 57px;
}

.advantages-list-item {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.advantages-list-item:nth-child(1)::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  height: 49px;
  width: 49px;
  background: url(../img/icons/ice-cream.svg) no-repeat;
}

.advantages-list-item:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 565px;
  height: 49px;
  width: 49px;
  background: url(../img/icons/cow.svg) no-repeat;
}

.advantages-list-item:nth-child(3)::before {
  content: '';
  position: absolute;
  top: 96px;
  left: 0;
  height: 49px;
  width: 49px;
  background: url(../img/icons/eco.svg) no-repeat;
}

.advantages-list-item:nth-child(4)::before {
  content: '';
  position: absolute;
  top: 96px;
  left: 565px;
  height: 49px;
  width: 49px;
  background: url(../img/icons/thermometer.svg) no-repeat;
}

/* БЛОК НОВОСТЕЙ */

.wrapper-double-collumns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}

.news-blog {
  padding: 23px 20px;
  width: 560px;
  border-radius: 15px;
  background-color: #ffffff;
  background: url(../img/bg-banner-strawberry.jpg) no-repeat;
}

.news-blog-title {
  margin: 0;
  margin-bottom: 5px;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.news-blog-link {
  margin: 0;
  width: 285px;
}

.news-blog-link a {
  position: relative;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  border-bottom: 2px solid #323232; /* Вопрос - надо тут ради PxP извращатся чтобы бордер был прижат к тексту? */
}

.news-blog-link a:hover,
.news-blog-link a:focus,
.news-blog-link a:active {
  color: #e84d37;
  border-bottom-color: #e84d37;
}

/* БЛОК ПОДПИСКИ */

.subscribe-border {
  width: 560px;
  min-height: 220px;
  background: url(../img/icons/bg-border-lines.svg) no-repeat;
  padding: 4px 5px 5px 6px;
}

.subscribe {
  padding: 30px 20px 35px;
  width: 549px;
  background-color: #f8f7f4;
  border-radius: 10px;
}

.subscribe-offer {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.subscribe-form input {
  margin-top: 36px;
  margin-right: 8px;
  padding: 10px 0 10px 15px;
  width: 368px;
  height: 44px;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
  font-weight: 700;
  box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
  border: none;
  border-radius: 5px;
}

.subscribe-form input::placeholder {
  color: #999999;
  font-weight: 400;
}

.subscribe-form input:hover {
  box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.subscribe-form input:focus {
  box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.subscribe-form input:invalid {
  box-shadow: 0 0 0 2px red;
}

.subscribe-button {
  padding: 10px 19px;
  width: 129px;
  color: #fefefe;
  font-size: 18px;
  line-height: 24px;
}

/* МОДАЛКА ПОДПИСКИ */

.modal-feedback {
  position: absolute;
  width: 478px;
  top: 337px;
  left: 50%;
  margin-left: -239px;
  padding: 16px 24px 27px 25px;
  border-radius: 10px;
  background-color: #f8f7f4;
  display: none;
}

.modal-feedback-lead {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.modal-feedback-lead::after {
  content: '';
  position: absolute;
  top: 16px;
  right: 16px;
  width: 18px;
  height: 17px;
  background: url(../img/icons/cross-big.svg) no-repeat;
}

.modal-feedback-name,
.modal-feedback-email {
  margin: 0;
}

.modal-feedback-form input,
.modal-feedback-form textarea {
  margin-bottom: 20px;
  width: 267px;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
  font-weight: 700;
  box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
  border: 0;
  border-radius: 5px;
}

.modal-feedback-form input {
  padding: 10px 0 10px 15px;
}

.modal-feedback-form textarea {
  padding: 8px 0 10px 15px;
  margin-bottom: 23px;
  width: 428px;
}

.modal-feedback-form input::placeholder,
.modal-feedback-form textarea::placeholder {
  color: #999999;
  font-weight: 400;
}

.modal-feedback-form input:hover,
.modal-feedback-form textarea:hover {
  box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.modal-feedback-form input:focus,
.modal-feedback-form textarea:focus {
  box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.modal-feedback-form input:invalid {
  box-shadow: 0 0 0 2px red;
}

.modal-feedback-button {
  float: right;
  padding: 10px 23px;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
}

/* КАРТА */

.map {
  position: relative;
  margin: 0 -27px;
}

.map-info {
  position: absolute;
  top: 63px;
  right: 27px;
  padding: 29px 25px 31px;
  width: 302px;
  background-color: #ffffff;
  color: #323232;
  border-radius: 15px;
}

.map-addres {
  margin-bottom: 17px;
}

.map-addres p,
.map-contacts p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.map-addres p {
  width: 150px;
}

.map-contacts {
  width: 175px;
  margin-bottom: 23px;
}

.map-addres-lead {
  margin-top: 1px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}

.map-contacts p:first-of-type {
  margin-bottom: 6px;
}

.map-contacts p:last-of-type {
  margin-top: 2px;
  line-height: 22px;
}

.map-contacts-tel {
  display: block;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
}

.map-contacts-tel:hover,
.map-contacts-tel:focus,
.map-contacts-tel:active {
  color: #e84d37;
}

.map-feedback-button {
  padding: 10px 27px 10px 28px;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
}

/* ПАГИНАЦИЯ */

.pagination-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin: 0 -9px 35px auto;
  padding: 0;
}

.pagination-list a {
  color: inherit;
}

.pagination-list a:active {
  color: #000000;
}

.current-pagination a {
  color: #000000;
  background-color: #ffffff;
}

.pagination-list-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 26px;
  margin-right: 2px;
  border-radius: 50%;
}

.pagination-list-item:first-child a {
  margin-right: 5px;
}

.pagination-list-item:last-child a {
  margin-left: 4px;
  margin-right: 0;
}

.pagination-list-item a[href]:hover,
.pagination-list-item a[href]:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-list-item a[href]:active {
  background-color: rgba(255, 255, 255, 1);
}

.pagination-arrow:first-child svg{
  transform: rotate(180deg);
}

.pagination-link[href] path {
  fill: #ffffff;
}

.pagination-link[href]:active path {
  fill: #000000;
}

/* ПОДВАЛ */

.main-footer {
  position: relative;
  align-items: flex-end;
  display: flex;
  min-height: 103px;
}

.main-footer::after {
  content: "";
  position: absolute;
  top: -6px;
  left: 27px;
  width: 1146px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.main-footer-social-list,
.main-footer-documentation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* СОЦ-ПАНЕЛЬ */

.main-footer-social {
  width: 293px;
  margin-bottom: 32px;
}

.main-footer-social-list-item {
  margin-right: 17px;
}

.main-footer-social-list-item:first-child {
  margin-left: 5px;
}

.main-footer-social-list-item a {
  opacity: 0.8;
}

.main-footer-social-list-item a:hover,
.main-footer-social-list-item a:focus,
.main-footer-social-list-item a:active {
  opacity: 1;
}

.main-footer-social-list-item a:active path{
 fill: #e9e9e9;
}

.main-footer-social-list-item a::before {
  content: '';
  position: absolute;
  height: 32px;
  width: 32px;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.main-footer-social-list-item a:hover::before,
.main-footer-social-list-item a:focus::before {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
}

.main-fooater-social-list-item a:active::before {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
}

/* БЛОК ДОКУМЕНТАЦИИ */

.main-footer-documentation {
  width: 586px;
  margin-bottom: 34px;
}

.main-footer-documentation-list {
  height: 44px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0;
  padding-left: 129px;
}

.main-footer-documentation-list-item {
  margin-right: 32px;
}

.main-footer-documentation a {
  font-size: 13px;
  line-height: 16px;
  color: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-footer-documentation-list-item:first-of-type a {
  font-weight: 700;
}

.main-footer-documentation a:hover {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.2);
}

.main-footer-documentation-list-item:first-of-type {
  position: relative;
}

.svg-heart {
  position: absolute;
  top: 7px;
  left: -22px;
  width: 15px;
  height: 13px;
}

a:hover + .svg-heart path {
  fill: #ffbc9e;
}

/* БЛОК КОПИРАЙТА */

.main-footer-copyright {
  position: relative;
  right: -2px;
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
  width: 190px;
  margin: 0;
  margin-left: auto;
  margin-bottom: 29px;
}

.main-footer-copyright a {
  color: #fefefe;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-footer-copyright a:hover {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.2);
}

.main-footer-copyright a::after {
  content: '';
  position: absolute;
  top: -43px;
  left: 0;
  width: 108px;
  height: 39px;
  margin-bottom: 5px;
  background: url(../img/icons/logo-htmlacademy.svg) no-repeat;
}
