/*
    Позиционирование
    Блочная модель
    Типографика
    Оформление
    Анимация
    Разное
 */

*, *::before, *::after {
    box-sizing: inherit;
}

html {
   box-sizing: border-box;
}

body {
  min-width: 1200px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background: #9d8b84;
  background: #8996a6;
  background: #849d8f;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font: inherit;
  font-weight: bold;
  color: #ffffff;
  background-color: #f26843;
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%); /* Проверить градиент для защиты */
  background-repeat: no-repeat;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  border: 0;
  border-radius: 30px;
}

/* ШАПКА */

.main-navigation {
  display: flex;
  flex-wrap: wrap;
}

.site-navigation,
.catalog-navigation,
.user-navigation {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.logo-main-header {
  width: 154px;
  height: 64px;
  margin-right: 10px;
  padding-top: 9px;
}

.site-navigation {
  width: 689px;
  margin-right: auto;
  padding-top: 30px;
}

.user-navigation {
  width: 267px;
  margin-left: auto;
  justify-content: flex-end;
  padding-top: 22px;
}

.main-navigation a {
  color: inherit;
}

.site-navigation-item > a{
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation-item > a:hover,
.site-navigation-item > a:focus {
  color: #323232;
  background-color: #f7f6f3;
  border: 0;
}

.site-navigation-item > a:active {
  color: #323232;
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
  border: 0;
}

.catalog-navigation {
  width: 143px;
  height: 171px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: none;
}

.catalog-navigation a {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.catalog-navigation-item:first-of-type a {
  font-weight: 700;
}

.catalog-navigation a:hover,
.catalog-navigation a:focus {
  background-color: #fbded7;
}

.catalog-navigation a:active {
  background-color: #f6b5a5;
}

li .current-site-navigation-link,
li .current-site-navigation-link:hover,
li .current-site-navigation-link:focus,
li .current-catalog-navigation-link,
li .current-catalog-navigation-link:hover,
li .current-catalog-navigation-link:focus {
  color: inherit;
  background-color: #d07058;
  border: 0;
}

li .current-site-navigation-link:active { /* Вопрос - тут четкого решения стайлгайд не дает - могу сделать так - могу убрать изменение цвета и оставить только появление тени при нажатии(эффект вдавливания) */
  color: #323232;
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
  border: 0;
}

/* НАВИГАЦИЯ ПОЛЬЗОВАТЕЛЯ */

.user-navigation a{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-navigation-search,
.user-navigation-login,
.user-navigation-cart {
  background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation-search:hover,
.user-navigation-login:hover,
.user-navigation-cart:hover { /* Вадим грустит - у меня не получается настроить так чтобы при фокусе было тоже, что и при ховере этом и том что снизу */
  background-color: #f8f7f4;
}

.user-navigation-search:hover a,
.user-navigation-login:hover a,
.user-navigation-cart:hover a{
  color: #323232;
}

/* потом вкинем иконку инлайново и будем менять напрямую стили внутри svg */
/* .user-navigation-search:hover a::before,
.user-navigation-cart:hover a::before{
  filter: invert(100%);
} */
/* SVG исходник кнопки входа отличается инверсией от остальных */
/* .user-navigation-login:hover a::before{
  filter: invert(0%);
} */

.user-navigation-search {
  width: 33px;
  height: 33px;
  padding: 8px;
  margin-right: 10px;
  border-radius: 50%;
}

.user-navigation-search a::before {
  content: '';
  width: 17px;
  height: 17px;
  display: block;
  background: url(../img/icons/loupe.svg) no-repeat;
}

.user-navigation-login {
  width: 93px;
  height: 32px;
  margin-right: 9px;
  border-radius: 30px;
}

.user-navigation-login > a::before {
  content: '';
  width: 21px;
  height: 19px;
  display: block;
  background: url(../img/icons/entrance.svg) no-repeat;
  filter: invert(100%);
  float: left;
  margin: 6px 7px 7px 16px;
}

.user-navigation-cart {
  width: 100px;
  height: 33px;
  border-radius: 30px;
}

.user-navigation-cart a::before {
  content: '';
  width: 21px;
  height: 20px;
  display: block;
  background: url(../img/icons/basket.svg) no-repeat;
  float: left;
  margin: 7px 8px 7px 16px;
}

/* ХОВЕР - ПОИСК */

.hover-search {
  width: 341px;
  height: 84px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: none;
}

/* ХОВЕР - ЛОГИН */

.hover-login {
  width: 277px;
  height: 214px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: none;
}

.hover-login-links a{
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.hover-login-links a:hover,
.hover-login-links a:focus,
.hover-login-links a:active {
  color: #e84d37;
  border-bottom-color: rgba(232, 77, 55, 0.3)
}

.hover-login-button {
  width: 100px;
  box-shadow: 0px 1px 2px 0 #ac1000;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
}

/* ХОВЕР - КОРЗИНА */

.hover-filled-cart {
  width: 540px;
  height: 242px;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  color: #323232;
  background-color: #f8f7f4;
  box-sizing: border-box;
  display: none;
}

.hover-filled-cart-table a {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
}

.cart-price-per-weight {
  color: #999999;
}

.cart-delete-button {
  width: 11px;
  height: 11px;
  background: url(../img/icons/cross-small.svg) no-repeat;
  border: 0;
}

.hover-filled-cart-table {
  width: 510px;
  border-collapse: collapse;
}

.cart-tfoot tr {
  border-top: 1px solid #cacac7;
}

.cart-tfoot td {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.hover-filled-cart-button {
  width: 170px;
  box-shadow: 0px 1px 2px 0 #ac1000;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
}

/* ХЕДЕР КОНТАКТЫ */

.header-contacts {
  margin-left: auto;
  margin-top: 2px; /* Вопрос - как еще можно задать отступ 1й флекс строки от 2й? Нам вроде советуют все margin делать bottom, только для футера top */
  text-align: right;
}

.header-contacts-hours {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
}

.header-contacts-tel {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.header-contacts-tel:hover,
.header-contacts-tel:focus,
.header-contacts-tel:active {
 color: #ffbc9e;
}

/* ХЛЕБНЫЕ КРОШКИ */

.wrapper-h1-breadcrumbs {
  display: flex;
  flex-direction: column;
  margin-top: -24px; /* Вопрос - я взял 24 от line-h телефона - правильно? */
}

.h1-cream {
  font-size: 35px;
  line-height: 41px;
  order: 1;
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 9px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 8px;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  color: inherit;
}

.breadcrumbs a:not(.breadcrumbs-current):hover,
.breadcrumbs a:not(.breadcrumbs-current):focus,
.breadcrumbs a:not(.breadcrumbs-current):active {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.2);
}

.breadcrumbs a:not(.breadcrumbs-current) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs li:not(:last-child)::after {
  content: " »";
}


/* СЛАЙДЕР */
/* Пока не ясно как делать отступ вниз */

.slider-item p {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider-lead-button {
  padding: 10px 42px;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.slider-list {
  list-style: none;
}

.slider-list,
.sliper-list p {
  margin: 0px;
  padding: 0px;
}

.slider-switch-button {
  border: 0;
  background-color: transparent;
  font-size: 0;
}

.slider-item:not(.slider-current) {
  display: none;
}

.slider-switch-button::before {
  content: '';
  display: block;
  width: 50px;
  height: 21px;
}

.slider-item:nth-child(1) button::before {
  content: '';
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #ffffff;
}

.slider-item:not(:nth-child(1)) button::before {
  content: '';
  width: 21px;
  height: 21px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #ffffff;
}

/* БЛОК СПЕЦ ПРЕДЛОЖЕНИЙ */

.special-offer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.special-offer-banner h3,
.special-offer-banner p {
  margin: 0;
}

.special-offer-banner {
  position: relative;
  width: 560px;
  padding: 20px;
  border-radius: 15px;
}

.banner-raspberry {
  background: url(../img/bg-banner-raspberry.jpg) no-repeat;
  background-color: #aa0532;
}

.banner-chocolate {
  background: url(../img/bg-banner-choco.jpg) no-repeat;
  background-color: #512f19;
}

.special-offer-lead {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.special-offer-banner p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin: 20px 0 40px;

}

.special-offer-button {
  padding: 10px 22px;
  float: right; /* Вопрос - пробовал и позиционирование абс\отнс\и маргин слева - много писать и иногда нужен доп класс - 1 свойство решило все проблемы - ругать не будут?*/
  font-size: 18px;
  line-height: 24px;
  opacity: 0.99;
}

/* ФИЛЬТРЫ КАТАЛОГА */

.catalog-filter {
  width: 879px;
  margin-bottom: 40px;
}

.catalog-filter form {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

/* КАТАЛОГ */
/* margin-bot самих карточек надо будет решить когда появится ховер - в ТЗ условие чтобы ховер не толкал вниз ничего */

.catalog-popular {
  margin-bottom: 37px;
}

.catalog-cream {
  margin-bottom: 86px;
}

.catalog-list,
.catalog-list h3,
.catalog-list p {
  margin: 0;
}

.catalog-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 267px;
  margin-right: 26px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item-image-circle img{
  border-radius: 50%;
 }

 .hit .catalog-item-image-circle::before{
  content: '';
  position: absolute;
  width: 61px;
  height: 61px;
  background: url(../img/icons/hit.svg) no-repeat;
 }

 .catalog-item-name {
   color: inherit;
   text-align: center;
   order: 1;
 }

 .catalog-item-name h3{
  display: inline; /* Вопрос - это единственный способ, который решил проблему, что подчеркивался блок, а не текст - все ок? */
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-item-name:hover,
.catalog-item-name:focus,
.catalog-item-name:active {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.2);
}

.catalog-item-price {
  position: absolute;
  top: 214px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-weight {
  margin-left: 38px;
  font-size: 30px;
}

.catalog-item-weight::before { /* У символа рубля должна быть тень */
  content: '';
  position: absolute;
  top: 5px;
  left: 82px;
  width: 31px;
  height: 36px;
  background: url(../img/icons/ruble.svg) no-repeat;
}

.catalog-item-button {
  margin: 20px auto 0;
  padding: 10px 17px;
  box-shadow: 0px 1px 2px 0 #ac1000;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  order: 2;
}

/* БЛОК ПРЕИМУЩЕСТВ */

.advantages {
  padding: 20px 30px 20px 20px;
  border-radius: 15px;
  background-color: #f0e5d0;
  background-image: url(../img/bg-waffle-pattern.jpg);
  margin-bottom: 40px;
}

.advantages-lead,
.advantages-list {
  margin: 0;
  padding: 0;
}

.advantages-lead {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.advantages-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.advantages-list-item {
  width: 480px;
}

.advantages-list-item:first-child {
  margin-bottom: 20px;
}

.advantages-list-item:nth-child(odd){
  margin-left: 57px;
}

.advantages-list-item {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.advantages-list-item:nth-child(1)::before {
  content: '';
  position: absolute;
  top: -13px;
  left: 0;
  height: 49px;
  width: 49px;
  background: url(../img/icons/ice-cream.svg) no-repeat;
}

.advantages-list-item:nth-child(2)::before {
  content: '';
  position: absolute;
  top: -13px;
  left: 553px;
  height: 49px;
  width: 49px;
  background: url(../img/icons/cow.svg) no-repeat;
}

.advantages-list-item:nth-child(3)::before {
  content: '';
  position: absolute;
  top: 76px;
  left: 0;
  height: 49px;
  width: 49px;
  background: url(../img/icons/eco.svg) no-repeat;
}

.advantages-list-item:nth-child(4)::before {
  content: '';
  position: absolute;
  top: 76px;
  left: 553px;
  height: 49px;
  width: 49px;
  background: url(../img/icons/thermometer.svg) no-repeat;
}

/* БЛОК НОВОСТЕЙ */

.wrapper-double-collumns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}

.news-blog {
  padding: 20px;
  width: 560px;
  border-radius: 15px;
  background-color: #ffffff;
  background: url(../img/bg-banner-strawberry.jpg) no-repeat;
}

.news-blog-title {
  margin: 0;
  margin-bottom: 7px;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.news-blog-link {
  margin: 0;
  width: 285px;
}

.news-blog-link a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  border-bottom: 2px solid #323232;
}

.news-blog-link a:hover,
.news-blog-link a:focus,
.news-blog-link a:active {
  color: #e84d37;
  border-bottom-color: #e84d37;
}

/* БЛОК ПОДПИСКИ */

.subscribe-border {
  width: 560px;
  min-height: 220px;
  background: url(../img/icons/bg-border-lines.svg) no-repeat;
  padding: 4px 5px 5px 6px;
}

.subscribe {
  padding: 30px 20px 35px;
  width: 549px;
  background-color: #f8f7f4;
  border-radius: 10px;
}

.subscribe-offer {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.subscribe-form input {
  margin-top: 35px;
  margin-right: 8px;
  width: 368px;
  height: 44px;
  border-radius: 5px;
  border: solid 1px rgba(178, 178, 178, 0.52);
  font-size: 16px;
  color: #999999;
  padding-left: 15px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.subscribe-button {
  padding: 10px 19px;
  width: 129px;
  color: #fefefe;
  font-size: 18px;
  line-height: 24px;
}

/* МОДАЛКА ПОДПИСКИ */

.modal-feedback {
  width: 478px;
  border-radius: 10px;
  background-color: #f8f7f4;
  display: none;
}

.modal-feedback-lead {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.modal-feedback-lead::after {
  content: '';
  display: block;
  height: 17px;
  width: 18px;
  background: url(../img/icons/cross-big.svg) no-repeat;
}

.modal-feedback-button {
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
}

/* КАРТА */

.map {
  position: relative;
}

.map-info {
  position: absolute;
  top: 60px;
  right: 25px;
  padding: 30px 25px;
  width: 302px;
  background-color: #ffffff;
  color: #323232;
  border-radius: 10px;
}

.map-addres {
  margin-bottom: 15px;
}

.map-addres p,
.map-contacts p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.map-addres p {
  width: 150px;
}

.map-contacts {
  width: 175px;
  margin-bottom: 20px;
}

.map-addres-lead {
  margin-top: 3px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}

.map-contacts p:first-of-type {
  margin-bottom: 3px;
}

.map-contacts p:last-of-type {
  margin-top: 3px;
  line-height: 22px;
}

.map-contacts-tel {
  vertical-align: middle; /* Вопрос - визуально показалось что текст смещен вверх - надо было выравнивать так? и почему так могло произойти?(отступов не было) */
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
}

.map-contacts-tel:hover,
.map-contacts-tel:focus,
.map-contacts-tel:active {
  color: #e84d37;
}

.map-feedback-button {
  padding: 10px 27px;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
}

/* ПАГИНАЦИЯ */

.pagination-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin: 0 0 35px auto;
  padding: 0;
}

.pagination-list a {
  color: inherit;
}

.pagination-list a:active {
  color: #000000;
}

.current-pagination a {
  color: #000000;
}

.pagination-list-item a{
  display: block;
  width: 27px;
  height: 26px;
  border-radius: 50%;
  text-align: center;
  padding-top: 4px; /* Вопрос - как отцентровать текст\стрелочки в цетре блока? я добавил text-align и на глаз взял падинг(ибо если брать по фш отступ сверху - 7px - а это сильно много) */
  margin-right: 2px;
}

.pagination-list-item:not(.current-pagination):not(.pagination-disabled) a:hover,
.pagination-list-item:not(.current-pagination):not(.pagination-disabled) a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-list-item:not(.current-pagination):not(.pagination-disabled) a:active {
  background-color: rgba(255, 255, 255, 1);
}

.pagination-list-item:not(.pagination-disabled) a:active path { /* Вопрос - тройную вложенность запрещают - вот для такого момента сделают исключение? */
  fill: #000000;
}

.current-pagination a {
  background-color: #ffffff;
}

.pagination-arrow:first-child svg{
  transform: rotate(180deg);
}

.pagination-arrow:not(.pagination-disabled) path {
  fill: #ffffff;
}

/* ПОДВАЛ */

.main-footer {
  display: flex;
  min-height: 103px;
  align-items: center;
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.3); /* пока не знаю как отодвинуть на высоту 107 от футера */
}

.main-footer-social-list,
.main-footer-documentation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* СОЦ-ПАНЕЛЬ */

.main-footer-social {
  width: 267px;
}

.main-footer-social-list-item:not(:last-child) a {
  margin-right: 11px;
}

.main-footer-social-list-item a {
  opacity: 0.8; /* надо вернуть обводку как была на псевдо svg */
}

.main-footer-social-list-item a:hover,
.main-footer-social-list-item a:focus {
  opacity: 1;
}

.main-footer-social-list-item a:active {
  opacity: 1;
  /* тут нужен эффект "наложение цвета" #e9e9e9 - используя background-color-цвет накладывается и на центральную часть иконки, а не только на фон*/
}

/* .main-footer-social-list-item a::before {
  content: '';
  display: block;
  height: 32px;
  width: 32px;
  margin-right: 11px;
  opacity: 0.8;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
} */

/* .main-footer-social-list-item:nth-child(1) a::before{
  background: url(../img/icons/twitter.svg) no-repeat;
}

.main-footer-social-list-item:nth-child(2) a::before{
  background: url(../img/icons/instagram.svg) no-repeat;
}

.main-footer-social-list-item:nth-child(3) a::before{
  background: url(../img/icons/fb.svg) no-repeat;
}

.main-footer-social-list-item:nth-child(4) a::before{
  background: url(../img/icons/vk.svg) no-repeat;
} */

/* .main-footer-social-list-item a:hover::before,
.main-footer-social-list-item a:focus::before {
  opacity: 1;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
} */

/* .main-footer-social-list-item a:active::before {
  opacity: 1;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
} */

/* БЛОК ДОКУМЕНТАЦИИ */

.main-footer-documentation {
  width: 590px;
}

.main-footer-documentation-list {
  height: 44px; /* Вопрос - пробовал через взять line-height\2+высота от верха буквы первой строки до низа буквы второй строки - получилось 38. но было мало - текущую высоту нашел путем "подбора", чтобы получились колонки - как посчитать точно через ФШ? */
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0;
  margin: 0 auto 0 26px;
  padding-left: 107px;
}

.main-footer-documentation-list-item {
  margin-right: 32px;
}

.main-footer-documentation-list-item:nth-child(2) {
  margin-left: 22px;
}

.main-footer-documentation a {
  font-size: 13px;
  line-height: 16px;
  color: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-footer-documentation-list-item:first-of-type a {
  font-weight: 700;
}

.main-footer-documentation a:hover {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.2);
}

/* .main-footer-documentation-list-item:first-of-type a::before {
  content: '';
  display: block;
  width: 15px;
  height: 13px;
  margin-right: 7px;
  background: url(../img/icons/heart.svg) no-repeat;
} */

.svg-heart {
  width: 15px;
  height: 13px;
  margin-right: 7px;
}

.main-footer-documentation-list-item:first-child a:hover .svg-heart { /* не понятно как сохранить одновременный ховер ссылки и svg */
  fill: #ffbc9e;
}

/* БЛОК КОПИРАЙТА */

.main-footer-copyright {
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
  width: 190px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.main-footer-copyright a {
  color: #fefefe;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-footer-copyright a:hover {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.2);
}

.main-footer-copyright::before {
  content: '';
  display: block;
  width: 108px;
  height: 39px;
  background: url(../img/icons/logo-htmlacademy.svg) no-repeat;
}
